{% extends "leader_board/index.html" %}
{% block content %}
{% load static %}
<h1>Просто лучшие</h1>
<table class="table table-dark table-striped table-image">
    <tbody>
    <tr>
        <td><img src="{% static 'leader_board/img/1.jpg' %}" width="210" height="280"></td>
        <td><img src="{% static 'leader_board/img/1.jpg' %}" width="210" height="280"></td>
        <td><img src="{% static 'leader_board/img/1.jpg' %}" width="210" height="280"></td>
    </tr>
    <tr>
        <td>Павел Олегович</td>
        <td>Павел</td>
        <td>Павелитель</td>
    </tr>
    <tr>
        <td><img src="{% static 'leader_board/img/1.jpg' %}" width="210" height="280"></td>
        <td><img src="{% static 'leader_board/img/1.jpg' %}" width="210" height="280"></td>
        <td><img src="{% static 'leader_board/img/1.jpg' %}" width="210" height="280"></td>
    </tr>
    <tr>
        <td>Плетюхин</td>
        <td>Лучший математик</td>
        <td>Лучший информатик</td>
    </tr>
    <tr>
        <td><img src="{% static 'leader_board/img/1.jpg' %}" width="210" height="280"></td>
        <td><img src="{% static 'leader_board/img/1.jpg' %}" width="210" height="280"></td>
        <td><img src="{% static 'leader_board/img/1.jpg' %}" width="210" height="280"></td>
    </tr>
    <tr>
        <td>Лучший</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <td><img src="{% static 'leader_board/img/1.jpg' %}" width="210" height="280"></td>
        <td><img src="{% static 'leader_board/img/1.jpg' %}" width="210" height="280"></td>
        <td><img src="{% static 'leader_board/img/1.jpg' %}" width="210" height="280"></td>
    </tr>
    <tr>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    </tbody>
</table>
{% endblock content %}